{% extends 'base.html' %} {% block content%}

<table class="table table-dark table-hover">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Department</th>
    <th>Salary</th>
    <th>Role</th>
    <th>Phone</th>
    <th>Hire Date</th>
    <th colspan="2">Actions</th>
  </tr>
  {% for employee in emp %}
  <tr>
    <td>{{employee.id}}</td>
    <td>{{employee.first_name}}</td>
    <td>{{employee.last_name}}</td>
    <td>{{employee.dept}}</td>
    <td>{{employee.salary}}</td>
    <td>{{employee.role}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.hire_date}}</td>
    <td><a href="{% url 'employee:update-emp' employee.pk %}">Update</a></td>
    <td><a href="{% url 'employee:delete-emp' employee.pk %}">Delete</a></td>
  </tr>
  {%endfor%}
</table>
<a class="btn btn-primary" href="{% url 'employee:index' %}" role="button"
  >Index page</a
>
{% endblock %}
